@media (prefers-color-scheme: dark) {
	:root {
		--rgb-accent: 162, 234, 233;
		--rgb-accent-secondary: 251, 184, 108;
		--rgb-background: 39, 39, 39;
		--rgb-background-secondary: 44, 44, 44;
		--rgb-background-tertiary: 54, 54, 54;
		--rgb-input: 28, 28, 28;
		--color-hover: rgb(64, 64, 64);
		--color-border: rgb(var(--rgb-input));
	}
	html {
		background: rgb(var(--rgb-background));
		color: #ccc;
	}
}

body {
	margin: 0;
}

em-emoji-picker {
	width: 100%;
	height: 100vh;
}
